.banner-container {
    position: relative;
    width: 100%; /* Ajusta el ancho según lo necesites */
  }
  
  .banner-image {
    width: 100%;
    height: auto; /* Mantiene las proporciones de la imagen */
  }
  
/*   .texto-banner {
    max-width: 400px;
    position: absolute;
    top: 50%; 
    left: 20%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 2rem;
    font-weight: bold; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
    text-decoration: none;

    
  } */

.fixed-item {
    
    top: 0;
    background-color: white;
    z-index: 1000;
   
}

.scrollable-list {
    max-height: 300px; /* Ajusta la altura máxima según tu diseño */
    overflow-y: auto;  /* Permite el scroll vertical */
}

.list-group-item {
    transition: background-color 0.3s;
    border-radius: 0;
}

.list-group-item:hover {
    background-color: #71b171;
}




input[type="date"] {
    width: 60%; /* Cambia este valor para ajustar el tamaño */
    
  }
  
  .titulo{
    font-size: 16px;
  }
  .form-select , .buscar , .fecha {
    font-size: 13px;
  }
  
/* Estilos del detalle para móviles */
.detalle-movil {
    display: none; /* Oculto por defecto en escritorio */
}

/* Estilos del detalle para escritorio */
.detalle-escritorio {
    display: block; /* Visible por defecto en escritorio */
}

/* Modo móvil */
@media (max-width: 768px) {
    .detalle-movil {
        display: block; /* Mostrar el detalle debajo de la acción en móviles */
    }

    .detalle-escritorio {
        display: none; /* Ocultar el detalle de escritorio en móviles */
    }

    .list-group-item {
        flex-direction: column;
    }

    .col-md-8 {
        width: 100%;
    }
    .texto-banner {
        max-width: 400px;
        position: absolute;
        top: 50%; /* Posiciona el texto en el centro vertical */
        left: 50%; /* Posiciona el texto en el centro horizontal */
        transform: translate(-50%, -50%); 
        color: white; /* Cambia el color del texto */
        font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
        font-weight: bold; /* Hace que el texto sea más grueso */
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Agrega sombra al texto */
      }
}


.card-img-custom {
  height: 200px; /* Ajusta la altura según tus necesidades */
  object-fit: cover; /* Cubre la tarjeta sin distorsionar la imagen */
}
.card:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño de la carta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.proyectos{
  background: transparent;
}


.table-responsive {
  position: relative;
  font-size: 12px;
  min-height: 350px;
}

.table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}
